@page "/PageUsuario";
@using System.Text.RegularExpressions;
@inject IJSRuntime JS;

<h1 class="text-center bg-light p-3">Cadastro de Usuários</h1>
<hr class="mb-3">
<ul class="nav nav-tabs" id="TabPrincipal" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="tabLista" data-toggle="tab" href="#Lista" role="tab" aria-controls="home"
            aria-selected="true">Listar Usuários</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="tabForm" data-toggle="tab" href="#Formulario" role="tab" aria-controls="profile"
            aria-selected="false">Cadastrar/Alterar</a>
    </li>
</ul>
<div class="tab-content" id="ContentTabLista">
    <div class="tab-pane fade show active" id="Lista" role="tabpanel" aria-labelledby="home-tab">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th>
                        ID
                    </th>
                    <th>
                        Nome
                    </th>
                    <th>
                        CPF
                    </th>
                    <th>
                        Telefone
                    </th>
                    <th>
                        E-mail
                    </th>
                    <th>
                        Situação
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Usuario item in Usuarios)
                {
                    <tr>
                        <td>
                            <button type="button" class="btn btn-primary" @onclick="() => SelecionarUsuario(item)">
                                <span class="oi oi-person" aria-hidden="true"></span>
                            </button>
                        </td>
                        <td>@item.USUID</td>
                        <td>@item.USUNOMECOMPLETO</td>
                        <td>@item.USUCPF</td>
                        <td>@item.USUTELEFONE</td>
                        <td>@item.USUEMAIL</td>
                        <td>@item.USUATIVO</td>
                        <td>
                            <button type="button" class="btn btn-danger" @onclick="() => ExcluirUsuario(item)">
                                <span class="oi oi-trash" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="tab-pane fade" id="Formulario" role="tabpanel" aria-labelledby="profile-tab">
        <div style="width: 800px;padding: 40px;">
            <div class="input-group mb-3">
                <label class="input-group-text" for="txtNome" style="width:120px;">Nome:</label>
                <input type="text" id="txtNome" class="form-control" @bind="usuario.USUNOMECOMPLETO">
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="txtEmail" style="width:120px;">Email:</label>
                <input type="text" id="txtEmail" class="form-control" @bind="usuario.USUEMAIL">
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="txtCPF" style="width:120px;">CPF:</label>
                <input type="text" id="txtCPF" maxlength="14" class="form-control cpf mr-3" @bind="usuario.USUCPF">
                <label class="input-group-text" for="txtTelefone" style="width:120px;">Telefone:</label>
                <input type="text" id="txtTelefone" class="form-control telefone" @bind="usuario.USUTELEFONE">
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="Login" style="width:120px;">Login:</label>
                <input type="text" id="txtLogin" class="form-control mr-3" @bind="usuario.USULOGIN">
                <label class="input-group-text" for="txtSenha" style="width:120px;">Senha:</label>
                <input type="text" id="txtSenha" class="form-control" @bind="usuario.USUSENHA">
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="flexCheckDefault" @bind="usuario.USUATIVO">
                <label class="form-check-label" for="flexCheckDefault">
                    Ativo
                </label>
            </div>
            <div style="text-align: left;" class="mt-4">
                <input type="button" value="Gravar" class="btn btn-primary mr-2" @onclick="GravarUsuario">
                <input type="button" value="Cancelar" class="btn btn-warning" @onclick="CancelarAcao">
            </div>
            <br>
            <div class="alert alert-danger" style="display: @MostrarMensagem;">
                <strong>Atenção!</strong> Campos Obrigatório: Nome, Email, Login E Senha.
            </div>

        </div>
    </div>
</div>

<div class="modal" id="ModalExclusao" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmação</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Confirma a Exclusão do Usuário</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" @onclick="ConfirmarExclusao">Sim</button>
        <button type="button" class="btn btn-danger" @onclick="CancelarExclusao">Não</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="ModalCamposObrigatorios" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Campos Obrigatórios</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>@MensagemErro</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
<hr class="mt-5">
@code {

    public string MostrarMensagem = "none";

    public string MensagemErro = "";

    private IList<Usuario> Usuarios = new List<Usuario>();

    private Usuario usuario = new Usuario();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            JS.InvokeAsync<string>("LoadPage", "");
            StateHasChanged();
        }
    }

    private void CarregarUsuarios()
    {
        Usuarios = new UsuarioDAO().PegarUsuarios();
    }

    protected override async Task OnInitializedAsync()
    {
        CarregarUsuarios();
    }

    protected async Task ExcluirUsuario(Usuario usu)
    {
        JS.InvokeAsync<string>("ShowModal", "ModalExclusao");
        usuario = usu;
        //new UsuarioDAO().ExcluirUsuario(usu);
        //CarregarUsuarios();
    }

    public void ConfirmarExclusao()
    {
        if (usuario != null)
        {
            new UsuarioDAO().ExcluirUsuario(usuario);
            CarregarUsuarios();
        }
        JS.InvokeAsync<string>("HideModal", "ModalExclusao");
        usuario = new Usuario();
    }
    public void CancelarExclusao()
    {
        usuario = new Usuario();
        JS.InvokeAsync<string>("HideModal", "ModalExclusao");

    }

    protected async Task SelecionarUsuario(Usuario usu)
    {
        usuario = usu;
        JS.InvokeAsync<string>("ShowTab", "tabForm");
    }

    public void GravarUsuario()
    {
        if (string.IsNullOrEmpty(usuario.USULOGIN) ||
        string.IsNullOrEmpty(usuario.USUEMAIL) ||
        string.IsNullOrEmpty(usuario.USUNOMECOMPLETO) ||
        string.IsNullOrEmpty(usuario.USUSENHA))
        {
            MensagemErro = "Nome, Email, Login E Senha!";
            JS.InvokeAsync<string>("ShowModal", "ModalCamposObrigatorios");
            //MostrarMensam = "block";
        }
        else
        {
            bool Validado = true;

            //Valida Email edesgomes@gmail.com
            if (!string.IsNullOrEmpty(usuario.USUEMAIL))
            {
                Regex regex = new Regex(@"^([\w\.\-]+)@([\w\-]+)((\.(\w){2,3})+)$");
                Match match = regex.Match(usuario.USUEMAIL);
                if (!match.Success)//=false
                {
                    MensagemErro = "Email inválido!";
                    JS.InvokeAsync<string>("ShowModal", "ModalCamposObrigatorios");
                    Validado = false;
                }
            }

            if (!string.IsNullOrEmpty(usuario.USUCPF))
            {
                if (!IsCpf(usuario.USUCPF))
                {
                    MensagemErro = "CPF inválido!";
                    JS.InvokeAsync<string>("ShowModal", "ModalCamposObrigatorios");
                    Validado = false;
                }
            }


            if (Validado)
            {
                if (usuario.USUID > 0)
                {
                    new UsuarioDAO().AtualizarUsuario(usuario);
                }
                else
                {
                    usuario.USUDATAHORACRIACAO = DateTime.Now;
                    new UsuarioDAO().InserirUsuario(usuario);

                }

                usuario = new Usuario();
                CarregarUsuarios();
                MostrarMensagem = "none";
                JS.InvokeAsync<string>("ShowTab", "tabLista");

            }
        }
    }

    public void CancelarAcao()
    {
        usuario = new Usuario();
        JS.InvokeAsync<string>("ShowTab", "tabLista");
    }

    public static bool IsCpf(string cpf)
    {
        int[] multiplicador1 = new int[9] { 10, 9, 8, 7, 6, 5, 4, 3, 2 };
        int[] multiplicador2 = new int[10] { 11, 10, 9, 8, 7, 6, 5, 4, 3, 2 };
        string tempCpf;
        string digito;
        int soma;
        int resto;
        cpf = cpf.Trim();
        cpf = cpf.Replace(".", "").Replace("-", "");
        if (cpf.Length != 11)
            return false;
        tempCpf = cpf.Substring(0, 9);
        soma = 0;

        for (int i = 0; i < 9; i++)
            soma += int.Parse(tempCpf[i].ToString()) * multiplicador1[i];
        resto = soma % 11;
        if (resto < 2)
            resto = 0;
        else
            resto = 11 - resto;
        digito = resto.ToString();
        tempCpf = tempCpf + digito;
        soma = 0;
        for (int i = 0; i < 10; i++)
            soma += int.Parse(tempCpf[i].ToString()) * multiplicador2[i];
        resto = soma % 11;
        if (resto < 2)
            resto = 0;
        else
            resto = 11 - resto;
        digito = digito + resto.ToString();
        return cpf.EndsWith(digito);

    }

}